.container {
    background-color: #077AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    background-color: #077AFF;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
}

.quiz-card {
    width: 30rem;
}


.hover-style-pointer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}
 
.hover-style-not-allowed:hover {
    cursor: not-allowed;
}


.right-answer-style {
    animation-name: right-answer-color;
    animation-duration: 200ms;
    transition: ease-out;
}

@keyframes right-answer-color {
    from {
        background-color: rgba(0, 0, 0, 0.05);
    }

    to {
        background-color: rgb(138, 211, 30);
        color: white;
    }
}

.wrong-answer-style {
    animation-name: wrong-answer-color;
    animation-duration: 200ms;
    transition: ease-out;
}

@keyframes wrong-answer-color {
    from {
        background-color: rgba(0, 0, 0, 0.05);
    }

    to {
        background-color: darkred;
        color: white;
    }
}

.credit {
    font-size: 10px;
}

.credit a {
    color: #212529;
    text-decoration: none;
}

.arrow {
    color: #077AFF;
    fill: currentColor;
    width: 32px;
    height: 32px;
    animation: arrow-moves-right 600ms ease;
    animation-fill-mode: forwards;
} 

@keyframes arrow-moves-right {

    
    0% { 
        transform: translate(0, 0);
    }

    100% {
        transform: translate(60px, 0);
    }
}

.margin-bottom20px {
    margin-bottom: 20px !important;
}

#headerImg {
    height: 40vh;
    object-fit: contain;
}

#headerImg2 {
    height: 40vh;
    object-fit: contain;
    
}