@media(max-width: 450px) and (min-width: 351px) {
    .container{
        /* width: 100vw !important; */
        height: 100vh !important;
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
    }
 
    .quiz-card {
        width: 100vw;
        align-items: center;
    }

    .card-img-top {
        width: 61vw; 
        object-position: center;
    } 

    .progress {
        width: 100vw;
    }
 
}